@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #00656e;
  --primary-darker: #004147;
  --primary-lighter: #009fad;
  --primary-clear: rgba(0, 159, 173, 0.1);
  --secondary: #0FBBC3;
}

@media (prefers-color-scheme: dark) {
  :root {
    //--background: #0a0a0a;
    //--foreground: #ededed;
  }
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body.no-scroll {
  position: fixed;
  overflow: hidden;
}

.grecaptcha-badge {
  visibility: hidden;
}
